#form-input-phone-no {
    border-radius: 20px !important;
    border: 1px solid #f4f6fa !important;
    background-color: #f4f6fa !important;
    font-size: 12px;
}
#form-input-phone-no input{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    padding: 8px 15px 8px 15px !important;
    background-color: #f4f6fa !important;
    color: #1d222c !important;
}
#form-input-phone-no input:active,
#form-input-phone-no input:focus{
    background-color: #fff !important;
}
.dropdown{
    padding: 5px 9px !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.dropdown.open, .dropdown:hover {
    background-color: #ffffff !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

/*BASE CSS*/
.network-error{
    position: absolute;
    background-color: #6d0606;
    width: 100%;
    height: 100%;
    z-index: 99999;
    left: 0;
    top: 0;
    transition: all 2s ease-in-out;
    overflow: hidden;
    padding: 120px 15px;
}
.network-error .login-rubies{
    width: 26%;
    margin-left: auto;
    margin-right: auto;
}
.network-error .login-rubies .login-intro{
    font-size: 15px;
    line-height: 1.86;
    color: #EEEEEE;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}
.network-error .login-rubies .login-form{
    border-radius: 20px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(131,137,160,.2);
    box-shadow: 0 4px 8px 0 rgba(131,137,160,.2);
    background-color: #fff;
    padding: 30px 40px;
    width: 100%;
    border: 1px solid #606060;
}
.alte-papi img{
    height: 60px;
    width: 60px;
    /*border: 1px solid #171717;*/
    border-radius: 50%;
    margin: 0 auto 5px auto;
    display: block;
}

.pinMode{
    font-size: 32px !important;
    letter-spacing: 5px;
    -webkit-transition: none !important;
    transition: none !important;
    padding: 0 5px 5px 10px;
    line-height: 10px;
    height: 32px;
}

.num-pad.confirmation-key-pad .key-pad .key-row {
    padding: 0;
}
.num-pad.confirmation-key-pad .key-stroke {
    width: 45px;
    height: 45px;
    display: inline-grid;
    padding: 11px 18px;
    margin: 0 13px 13px 0;
    font-size: 17px;
    font-weight: 500;
    border: 0;
    color: #030303;
    fill: #030303;
    background-color: #e4e4e4;
}
.num-pad.confirmation-key-pad .key-stroke:hover {
    color: #010101;
    fill: #010101;
    text-decoration: none;
    /*background-color: #6d0605;*/
    background-color: #bababa;
}
.setPinBox .pinHolder .pinIndex.active {
    background-color: #030303;
}
.setPinBox .pinHolder .pinIndex {
    background-color: #e4e4e4;
}

.svgA{fill:none;stroke-width:2;stroke:#FFF;}

.page-loading{
    position: absolute;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    z-index: 999999;
    left: 0;
    top: 0;
    transition: all 2s ease-in-out;
    overflow: hidden;
}
@keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 15px;
        left: 15px;
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}
@-webkit-keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 15px;
        left: 15px;
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}
.lds-ripple {
    position: relative;
    margin: 40vh auto;
    transition: all 2s ease-in-out;
}
.lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
    border-color: #6d0606;
}
.lds-ripple div:nth-child(2) {
    border-color: #7b1e1e;
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}
.lds-ripple {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/*BASE CSS END*/

/*mobile Footer*/
.mobile-footer{
    margin-top: 15px;
}
.mobile-footer p{
    font-size: 10px;
    text-align: center;
    color: #9b9d9d;
}
/*mobile Footer End*/

/*Mobile Nav Menu*/
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #6d0605;
    opacity: 1;
}
.hamburger {
    padding: 4px;
    float: right;
    cursor: pointer;
    z-index: 999;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 40px;
    height: 4px;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    background-color: #6d0605;
}
/*Mobile Nav Menu End*/


/* Mobile Side Bar Action*/
.mobile-nav-bar {
    padding: 20px 30px;
    width: 100%;
    height: 74px;
    background-color: #fdfefe;
    box-shadow: 0 8px 16px 0 rgba(34,50,84,.06), inset 0 0 0 1px rgba(112,123,140,.15);
    color: #14233c;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
.mobile-nav-bar .mobile-logo{}
.mobile-nav-bar .mobile-logo img{
    height: 35px;
    width: auto;
}
.mobile-nav-bar .side-bar-toggle{}
.mobile-nav-bar .side-bar-toggle span{
    float: right;
    cursor: pointer;
}
.mobile-nav-bar .side-bar-toggle span svg{
    fill: #6d0605;
    height: 25px;
    width: 25px;
}

/* Side Bar Action*/
.sidebar-body{}

.sidebar-body .avat{
    padding: 10px 15px 0;
}
.sidebar-body .avat .hold {
    margin-top: 15px;
}
.sidebar-body .avat img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 5px auto 3px auto;
    text-align: center;
    display: block;
}
.sidebar-body .avat .name{
    font-size: 10px;
    color: #9E9E9E;
    text-align: center;
    margin-bottom: 5px;
}
.sidebar-body .avat .name .greetings{
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    margin: 0;
    color: #444c58;
}
.sidebar-body .avat .name .lastLogin{
    margin: 0;
    font-size: 9px;
    color: #9E9E9E;
}

.sidebar-body .actions{
    padding: 10px 0;
}
.sidebar-body .actions a.current{
    font-size: 13px;
    padding: 5px 20px;
    color: #171721;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    font-weight: 300;
}
.sidebar-body .actions a.current:hover,
.sidebar-body .actions a.current:focus,
.sidebar-body .actions a.current:active,
.sidebar-body .actions a.current.active {
    /*color: #171717;*/
    color: #6d0607;
    outline: none;
    font-weight: 300;
    border-right: 4px solid #6d0607;
    background-color: #F5F5F5;
    /*border-top-right-radius: 30px;*/
    /*border-bottom-right-radius: 30px;*/

}
.sidebar-body .actions p.current i{
    font-weight: 600;
}
.sidebar-body .actions p.label{
    font-size: 8px;
    color: #d1d2da;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
    padding: 0 15px 5px 15px;
    /*border-bottom: 1px solid #F5F5F5;*/
    /*border-bottom: 1px solid #FAFAFA;*/
}
.sidebar-body .actions ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-body .actions ul li{
    display: block;
}
.sidebar-body .actions ul li a{
    color: #171717;
    /* color: #332e38; */
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    padding: 8px 20px;
    transition: all .15s ease-in;
    /*border-bottom: 1px solid #F5F5F5;*/
    border-bottom: 1px solid #FAFAFA;
}
.sidebar-body .actions ul li a:hover,
.sidebar-body .actions ul li a.active{
    color: #6d0607;
    text-decoration: none;
    outline: none;
    font-weight: 300;
    border-right: 4px solid #6d0607;
    background-color: #F5F5F5;
    /*border-top-right-radius: 30px;*/
    /*border-bottom-right-radius: 30px;*/
}
.vs-sidebar {
    max-width: 230px;
}
/* Mobile Side Bar Action End*/
/**/



/***********************************************
* Media Queries (Start)
***********************************************/
/**/
/*Media Query*/
/**/

/*< XS*/
@media only screen and (min-width:0px) and (max-width: 320px) {
    /*Auth*/
    body {
        background-color: #6d0606;
    }
    .xnax-login {
        border-radius: 0;
        width: 100%;
        height: 100vh;
        padding: 70px 3%;
    }
    .xnax-login .login-rubies {
        width: 100%;
    }
    .xnax-login .login-rubies .login-form {
        border-radius: 20px;
        padding: 25px 20px;
        width: 100%;
        border: 1px solid #606060;
    }
    .xnax-login .login-rubies img {
        margin-bottom: 25px;
        width: 110px;
    }
    .xnax-login .login-rubies .login-intro {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .key-pad {
        width: 70%;
    }
    .side-action {
        width: 30%;
    }
    .pinMode {
        font-weight: 500;
        font-family: BuenosAiresWeb-Bold, Helvetica, Arial, sans-serif;
    }

    .network-error .login-rubies {
        width: 100%;
    }
    .network-error .login-rubies .login-form {
        border-radius: 15px;
        padding: 20px 30px;
        width: 100%;
    }
    .network-error .login-rubies .login-intro {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .network-error {
        overflow: hidden;
        padding: 30px 15px;
    }
    /*Auth END*/

    /*Dashboard*/
    .mid-pane .hold {
        padding: 0 15px;
        margin-top: 76px;
    }
    .left-pane{
        display: none;
    }
    .right-pane{
        display: none;
    }
    .mid-pane {
        width: 100%;
        border-bottom: 3px solid #6d0605;
    }
    .mobile-nav-bar .side-bar-toggle {
        padding: 2px 0;
    }
    .mobile-nav-bar .side-bar-toggle span svg {
        height: 33px;
        width: 33px;
    }
    .mobile-nav-bar .mobile-logo img {
        height: 35px;
        padding: 2px 0;
    }
    .mid-pane .nav-bar {
        height: auto;
        padding: 10px 0 0 0;
    }
    .mid-pane .nav-bar p.main {
        font-size: 12px;
    }

    /*accounts*/
    .accounts{
        padding: 10px 0 0;
    }
    /*history*/
    .account-statement-group .account-statement article {
        font-size: 10px;
        padding: 5px 10px;
    }
    .account-statement-group .account-statement article.amount {
        width: 40%;
    }
    .account-statement-group .account-statement article.type {
        display: none;
    }
    .account-statement-group .account-statement article.counterparty {
        width: 50%;
    }
    .account-statement-group .account-statement article.icon {
        width: 15%;
    }
    /*Dashboard END*/

    /*Pay Bills*/
    .card .card-body {
        padding: 20px 10px 30px 10px;
    }
    .card .card-body .card-title {
        margin-bottom: 5px;
        margin-left: 15px;
    }
    /*Pay Bills END*/

    /*Confirmation*/
    .confirmation-component .top .left {
        display: block;
    }
    .confirmation-component .top .bank-logo {
        display: block;
        width: 100%;
    }
    .confirmation-component .top .details {
        display: block;
        width: 100%;
    }
    .confirmation-component .top .bank-logo img {
        height: 35px;
        margin-right: 0;
        margin-top: 0;
        margin-left: 4px;
    }
    .confirmation-component .top .amount {
        font-size: 12px;
        margin-top: 15px;
        color: #757575;
    }

    .tbl.confirmation {
        padding: 0;
        margin-top: 20px;
        border: none;
        margin-bottom: 30px;
    }
    .tbl .confirmation-detail tr.wn {
        border-left: 2px solid #6d0605;
    }

    .checkbox-row {
        padding: 0;
    }
    .checkbox-container .checkbox-label {
        margin: 0 0 0 5px;
        font-size: 8px;
        font-weight: 300;
        color: #171717;
    }
    /*Confirmation END*/

    /*Pay Bills*/
    .option-component {
        padding: 0;
    }
    .option-component .intro-text {
        margin: 0 0 5px 0;
    }
    .option-component .options {
        padding: 10px 0;
    }
    /*Pay Bills END*/

    /*Account Statement*/
    .account-card.alte {
        margin: 10px 0 10px 0;
    }
    .account-statement-group span.date {
        font-size: 11px;
    }

    .ui-datepicker {
        margin-bottom: 0 !important;
    }
    .history-table .header {
        margin: 20px 0 0 0;
    }
    /*Account Statement END*/

    /*Independent Banker*/
    .all-account-top.i-banker-mob .hold {
        margin: 0 !important;
        padding: 0 !important;
    }
    .all-account-top {
        padding: 10px 0 !important;
        margin-bottom: 0;
    }
    .all-account-top .icon svg {
        height: 25px;
    }
    .all-account-top.i-banker-mob .info .name {
        font-size: 11px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .all-account-top.i-banker-mob .info .count {
        font-size: 8px;
        margin-bottom: 0;
        color: #808181;
    }
    .all-account-top.i-banker-mob .balance {
        padding: 0 !important;
    }
    .ui-switch__label-text {
        margin-left: 5px !important;
    }

    .ibanker-table .tbl {
        padding: 0;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.amount {
        width: 50%;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.counterparty {
        width: 38%;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.icon {
        width: 10%;
    }
    /*Independent Banker END*/

    /*Money Request*/
    .account-statement-group {
        margin-bottom: 6px;
    }
    /*Money Request END*/
}
/*< XS END*/

/*< XS*/
@media only screen and (min-width: 321px) and (max-width: 575px) {
    /*Auth*/
    body {
        background-color: #6d0606;
    }
    .xnax-login {
        border-radius: 0;
        width: 100%;
        height: 100vh;
        padding: 100px 5%;
    }
    .xnax-login .login-rubies {
        width: 100%;
    }
    .xnax-login .login-rubies .login-form {
        border-radius: 20px;
        padding: 25px 20px;
        width: 100%;
        border: 1px solid #606060;
    }
    .xnax-login .login-rubies img {
        margin-bottom: 25px;
        width: 110px;
    }
    .xnax-login .login-rubies .login-intro {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .key-pad {
        width: 70%;
    }
    .side-action {
        width: 30%;
    }
    .pinMode {
        font-weight: 500;
        font-family: BuenosAiresWeb-Bold, Helvetica, Arial, sans-serif;
    }

    .network-error .login-rubies {
        width: 100%;
    }
    .network-error .login-rubies .login-form {
        border-radius: 15px;
        padding: 20px 30px;
        width: 100%;
    }
    .network-error .login-rubies .login-intro {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .network-error {
        overflow: hidden;
        padding: 30px 15px;
    }
    /*Auth END*/

    /*Dashboard*/
    .mid-pane .hold {
        padding: 0 30px;
        margin-top: 76px;
    }
    .left-pane{
        display: none;
    }
    .right-pane{
        display: none;
    }
    .mid-pane {
        width: 100%;
        border-bottom: 3px solid #6d0605;
    }
    .mobile-nav-bar .side-bar-toggle {
        padding: 2px 0;
    }
    .mobile-nav-bar .side-bar-toggle span svg {
        height: 33px;
        width: 33px;
    }
    .mobile-nav-bar .mobile-logo img {
        height: 30px;
        padding: 2px 0;
    }
    .mid-pane .nav-bar {
        height: auto;
        padding: 10px 0 0 0;
    }
    .mid-pane .nav-bar p.main {
        font-size: 12px;
    }

    /*mobile side bar*/
    .sidebar-body .actions ul li a {
        font-size: 13px;
    }
    .sidebar-body .avat img {
        height: 70px;
        width: 70px;
        margin: 10px auto 5px auto;
    }

    /*accounts*/
    .accounts{
        padding: 10px 0 0;
    }
    /*history*/
    .account-statement-group .account-statement article {
        font-size: 10px;
        padding: 5px 10px;
    }
    .account-statement-group .account-statement article.amount {
        width: 40%;
    }
    .account-statement-group .account-statement article.type {
        display: none;
    }
    .account-statement-group .account-statement article.counterparty {
        width: 50%;
    }
    .account-statement-group .account-statement article.icon {
        width: 15%;
    }
    /*Dashboard END*/

    /*Pay Bills*/
    .card .card-body {
        padding: 20px 10px 30px 10px;
    }
    .card .card-body .card-title {
        margin-bottom: 5px;
        margin-left: 15px;
    }
    /*Pay Bills END*/

    /*Confirmation*/
    .confirmation-component .top .left {
        display: block;
    }
    .confirmation-component .top .bank-logo {
        display: block;
        width: 100%;
    }
    .confirmation-component .top .details {
        display: block;
        width: 100%;
    }
    .confirmation-component .top .bank-logo img {
        height: 35px;
        margin-right: 0;
        margin-top: 0;
        margin-left: 4px;
    }
    .confirmation-component .top .amount {
        font-size: 12px;
        margin-top: 15px;
        color: #757575;
    }

    .tbl.confirmation {
        padding: 0;
        margin-top: 20px;
        border: none;
        margin-bottom: 30px;
    }
    .tbl .confirmation-detail tr.wn {
        border-left: 2px solid #6d0605;
    }

    .checkbox-row {
        padding: 0;
    }
    .checkbox-container .checkbox-label {
        margin: 0 0 0 5px;
        font-size: 8px;
        font-weight: 300;
        color: #171717;
    }
    /*Confirmation END*/

    /*Pay Bills*/
    .option-component {
        padding: 0;
    }
    .option-component .intro-text {
        margin: 0 0 5px 0;
    }
    .option-component .options {
        padding: 10px 0;
    }
    /*Pay Bills END*/

    /*Account Statement*/
    .account-card.alte {
        margin: 10px 0 10px 0;
    }
    .account-statement-group span.date {
        font-size: 11px;
    }

    .ui-datepicker {
        margin-bottom: 0 !important;
    }
    .history-table .header {
        margin: 20px 0 0 0;
    }
    .modal-body.history .trnxHist .histLabel {
        font-size: 11px !important;
    }
    .notification-modal.sm .bottom .modal-body p {
        font-size: 12px;
    }
    .notification-modal.sm .bottom .modal-button .btn {
        font-size: 13px;
    }
    /*Account Statement END*/

    /*Independent Banker*/
    .all-account-top.i-banker-mob .hold {
        margin: 0 !important;
        padding: 0 !important;
    }
    .all-account-top {
        padding: 10px 0 !important;
        margin-bottom: 0;
    }
    .all-account-top .icon svg {
        height: 25px;
    }
    .all-account-top.i-banker-mob .info .name {
        font-size: 11px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .all-account-top.i-banker-mob .info .count {
        font-size: 8px;
        margin-bottom: 0;
        color: #808181;
    }
    .all-account-top.i-banker-mob .balance {
        padding: 0 !important;
    }
    .ui-switch__label-text {
        margin-left: 10px !important;
    }

    .ibanker-table .tbl {
        padding: 0;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.amount {
        width: 50%;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.counterparty {
        width: 38%;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.icon {
        width: 10%;
    }
    /*Independent Banker END*/

    /*Money Request*/
    .account-statement-group {
        margin-bottom: 6px;
    }
    /*Money Request END*/

    /*Auth*/
    /*Auth END*/
}
/*< XS END*/

/*< SM*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    /*Auth*/
    /*Auth END*/

    /*Auth*/
    /*Auth END*/
}
/*< SM END*/

/*< MD*/
@media only screen and (min-width:768px) and (max-width: 991px) {
    .xnax-login .login-rubies {
        width: 50%;
    }
    .left-pane{
        width: 30%;
    }
    .right-pane{
        display: none;
    }
    .mid-pane {
        width: 70%;
        border-bottom: 3px solid transparent;
    }

    .i-banker-mob .hold{
        padding: 0 !important;
    }

    .history-table .header button {
        margin-top: 0;
        border-color: #6d0606;
        color: #6d0606;
    }

    /*history*/
    .account-statement-group .account-statement article {
        font-size: 10px;
        padding: 5px 10px;
    }
    .account-statement-group .account-statement article.amount {
        width: 40%;
    }
    .account-statement-group .account-statement article.type {
        display: none;
    }
    .account-statement-group .account-statement article.counterparty {
        width: 50%;
    }
    .account-statement-group .account-statement article.icon {
        width: 15%;
    }

    .ibanker-table .tbl {
        padding: 0;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.amount {
        width: 50%;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.counterparty {
        width: 38%;
    }
    .tbl.i-banker-mob .account-statement-group .account-statement article.icon {
        width: 10%;
    }
}
/*< MD END*/

/*< LG*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {}
/*< LG END*/

/*< LG (LG (ipad Pro))*/
@media only screen and (min-width: 992px) and (max-width: 1199px)  and (min-height: 992px){}
/*< LG END*/

/*< XL*/
@media (min-width: 1200px) { }
/*< XL END*/


/**/
/*Media Query*/
/**/
/***********************************************
* Media Queries (END)
***********************************************/




